@tailwind base;
@tailwind components;
@tailwind utilities;




.slick-prev:before,
.slick-next:before {
    color: transparent !important;
}

.slick-next {
    background: url("/images/slicknext.svg") no-repeat center !important;
    right: 0px !important;

}

.slick-prev {
    background: url("/images/slickprev.svg") no-repeat center !important;
    right: 60px !important;
    left: unset !important;

}

.slick-next,
.slick-prev {
    background-size: contain !important;
    height: 67px !important;
    width: 36px !important;
    top: -10% !important;
    
}




.slick-prev:hover {
    background-size: contain !important;
    height: 92px !important;
    width: 45px !important;
}

.slick-next:hover {
    background-size: contain !important;
    height: 92px !important;
    width: 45px !important;
}
.slick-slide {
    margin-left: 0px;
    padding-right: 20px;
    padding-block: 20px;
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }